{% extends "base.html" %}

{% block title %}Anesthesiology Department | Best Anesthesiologists in Bangalore | Aarogya Hastha{% endblock %}

{% block head %}
{{ super() }}
<meta name="description"
    content="Expert anesthesiology care for painless & safe surgery in Bangalore. Our anesthesiologists provide general, regional, and local anesthesia for all procedures.">
<meta name="keywords"
    content="hospital Bangalore, multi-speciality hospital, healthcare India, medical facilities, expert doctors">
<meta name="author" content="Aarogyahastha Pvt Ltd">
<meta name="designer" content="Aarogyahastha Pvt Ltd">
<meta name="publisher" content="Aarogyahastha Pvt Ltd">
<link rel="canonical" href="https://aarogyahastha.com/departments/anaesthesia" />
<meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="7 days">
<meta name="distribution" content="web">
<meta name="robots" content="noodp">
<meta name="web_author" content="Aarogyahastha Pvt Ltd">
<meta name="rating" content="general">
<meta name="rating" content="safe for kids">
<meta name="subject" content="Healthcare">
<meta name="copyright" content="Copyright © 2025">
<meta name="reply-to" content="info@aarogyahastha.com">
<meta name="abstract"
    content="We provide timely and specialized medical attention for patients experiencing life-threatening conditions, ensuring their urgent needs are met with the highest level of care.">
<meta name="city" content="Bangalore">
<meta name="country" content="India">
<meta name="distribution" content="global">
<meta name="classification" content="Healthcare, Hospital">
<base href="/">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="department-banner" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="container">
        <div class="banner">
            <img loading="lazy" src="/static/img/banners/anaesthesia.jpg" alt="Anaesthesia Department Banner">
            <div class="text-box-1">
                <h1>Anaesthesia</h1>
                <p>The pathway to a successful operation</p>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <blockquote class="blockquote blockquote-custom">
                    <!-- <div class="blockquote-custom-icon shadow-sm"><i class="fa fa-quote-left"></i></div> -->
                    <p class="mb-0 mt-2">Anaesthesia, like a genie, bestows upon us command and control over pain,
                        an essential yet excellent tool.</p>
                    <div class="blockquote-footer mt-4 text-end">Abubakkar Siddique</div>
                </blockquote>
            </div>
            <div class="col-12">
                Aarogya Hastha provides comprehensive anaesthesia services with the help of experienced
                anaesthesiologists and state-of-the-art equipment. Our team of experts ensures that every patient
                receives personalised care and attention, with safety and comfort as the topmost priority. With the
                commitment to providing quality care, we ensure the patient's medical journey is as stress-free and
                painless as possible..
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="department-section py-5">
    <div class="container">
        <h2>Types of Anaesthesia Care </h2>
        <div class="row department-sub-services pb-4">
            <div class="department-grid">
                <div class="item active"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia-general.svg);">
                    <img loading="lazy" src="/static/img/department/icons/anaesthesia-general.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue">General</h4>
                    <div class="content">
                        <p>At Aarogya Hastha, we understand the importance of general anaesthesia and its effects on
                            a patient's health and safety. We provide advanced general anaesthesia services to
                            ensure our patients' most comfortable and safe experience.</p>
                    </div>
                </div>
                <div class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia-regional.svg);">
                    <img loading="lazy" src="../static/img/department/icons/anaesthesia-regional.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue">Regional</h4>
                    <div class="content">
                        <ul>
                            <li>Spinal</li>
                            <li>Epidural anaesthesia and analgesia</li>
                            <li>Peripheral nerve block</li>
                        </ul>
                        <p>Regional anaesthesia is a type of anaesthesia that numbs a specific body part where
                            surgery or a procedure is to be performed. This type of anaesthesia can be delivered in
                            different forms, such as spinal, epidural, or peripheral nerve blocks.</p>
                    </div>
                </div>
                <div class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia-daycare-surgery.svg);">
                    <img loading="lazy" src="../static/img/department/icons/anaesthesia-daycare-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue">Daycare Surgery</h4>
                    <div class="content">
                        <p>Aarogya Hastha offers <b>Total Intravenous Anaesthesia (TIVA)</b> to patients requiring
                            daycare surgery. With this advanced technique, many surgeries can be performed and the
                            patient can be discharged on the same day with minimal risk of adverse events.
                        </p>
                    </div>

                </div>
            </div>
            <div class="department-sub-services-details">
                <h4 class="text-dark-blue">General</h4>
                <div class="content">
                    <p>At Aarogya Hastha, we understand the importance of general anaesthesia and its effects on a
                        patient's health and safety. We provide advanced general anaesthesia services to ensure our
                        patients' most comfortable and safe experience.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" py-3">
    <div class="container">
        <h2>Our Specialists</h2>
        <div id="doctors-list" class="appointment-section">
            <div class="doctor-section mb-5">
                <div class="row g-3">
                    <div class="col-lg-6 doctor-item" data-doctor="akash-mukherjee">
                        <div class="img-box"><img class="img-fluid" src="../static/img/doctors/akash-mukherjee-01.jpg"
                                alt="Dr. Akash Mukherjee"></a></div>
                        <div class="doctor-box">
                            <h3>Dr. Akash Mukherjee</h3>
                            <h4>Sr. Consultant & HOD - Anaesthesia, Critical Care & Pain Medicine</h4>
                            <p class="mt-4"><small><b>Languages spoken:</b> <br />Hindi, Bengali, English, Basic
                                    Kannada</small></p>
                            <p class="mt-4"><small><b>Consultation</b><br />Monday to Saturday <br />11&nbsp;AM to
                                    01&nbsp;PM | 04&nbsp;PM to 06&nbsp;PM</small></p><a class="book-btn" target="_blank"
                                href="https://app.fyndbetter.com/ahh_apt" target="_blank">BOOK
                                APPOINTMENT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-aos-easing="ease-in-sine" class="service-carousel-section py-5">
    <div class="container d-flex justify-content-center">
        <div class="owl-carousel service-carousel">
            <a href="/departments/general-surgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/general-surgery.svg);"
                data-department="general-surgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/general-surgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">General Surgery</h4>
            </a><a href="/departments/neurosurgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/neurosurgery.svg);"
                data-department="neurosurgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/neurosurgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Neurosurgery</h4>
            </a><a href="/departments/orthopaedics" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/orthopaedics.svg);"
                data-department="orthopaedics"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/orthopaedics.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Orthopaedics</h4>
            </a><a href="/departments/anaesthesia" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia.svg);"
                data-department="anaesthesia"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/anaesthesia.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3"> Anaesthesiology & Critical Care</h4>
            </a><a href="/departments/pain-medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/pain-medicine.svg);"
                data-department="pain-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/pain-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Pain Medicine</h4>
            </a><a href="/departments/genera-medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/general-medicine.svg);"
                data-department="general-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/general-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">General Medicine</h4>
            </a><a href="/departments/lab-medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/lab-medicine.svg);"
                data-department="lab-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/lab-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Lab Medicine</h4>
            </a><a href="/departments/paediatrics" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/paediatrics.svg);"
                data-department="paediatrics"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/paediatrics.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Paediatrics</h4>
            </a><a href="/departments/physiotherapy" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/physiotherapy.svg);"
                data-department="physiotherapy"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/physiotherapy.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Physiotherapy</h4>
            </a><a href="/departments/dermatology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/dermatology.svg);"
                data-department="dermatology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/dermatology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Dermatology</h4>
            </a><a href="/departments/ent" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/ent.svg);" data-department="ent"><img
                    class="dept-icon" loading="lazy" src="/static/img/department/icons/ent.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3"> Ear, Nose, and Throat (ENT)</h4>
            </a><a href="/departments/emergency-medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/emergency-medicine.svg);"
                data-department="emergency-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/emergency-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Emergency Medicine</h4>
            </a><a href="/departments/nephrology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/nephrology.svg);"
                data-department="nephrology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/nephrology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Nephrology</h4>
            </a><a href="/departments/urology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/urology.svg);"
                data-department="urology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/urology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Urology</h4>
            </a><a href="/departments/medical-gastroenterology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/medical-gastroenterology.svg);"
                data-department="medical-gastroenterology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/medical-gastroenterology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Medical Gastroenterology</h4>
            </a><a href="/departments/minimal-access-surgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/minimal-access-surgery.svg);"
                data-department="minimal-access-surgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/minimal-access-surgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Minimal Access Surgery</h4>
            </a><a href="/departments/plastic-surgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/plastic-surgery.svg);"
                data-department="plastic-surgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/plastic-surgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Plastic Surgery</h4>
            </a><a href="/departments/obg" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/obg.svg);" data-department="obg"><img
                    class="dept-icon" loading="lazy" src="/static/img/department/icons/obg.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Obstetrics & Gynaecology</h4>
            </a><a href="/departments/surgical-gastroenterology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/surgical-gastroenterology.svg);"
                data-department="surgical-gastroenterology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/surgical-gastroenterology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Surgical Gastroenterology</h4>
            </a><a href="/departments/radiology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/radiology.svg);"
                data-department="radiology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/radiology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Radiology</h4>
            </a>
        </div>
    </div>
</section>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/script.js"></script>
<script src="https://fyndbetter.com/chatbot/aarogya_chatbot"></script>
<script>
    $(".book-apt").on('click', function () {
        var url = $(this).data("url");
        window.open(url, '_blank');
    });
    function showChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.add("is-visible");
        popup.setAttribute("aria-hidden", "false");
    }
    function hideChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.remove("is-visible");
        popup.setAttribute("aria-hidden", "true");
    }
    // ESC closes popup
    document.addEventListener("keydown", e => {
        if (e.key === "Escape") hideChromePopup();
    });
    document.addEventListener('DOMContentLoaded', function () {
        const scrollBtn = document.getElementById('scrollToTopBtn');
        const scrollThreshold = 300;

        function toggleScrollButton() {
            if (window.pageYOffset > scrollThreshold ||
                document.documentElement.scrollTop > scrollThreshold) {
                scrollBtn.style.display = 'flex';
            } else {
                scrollBtn.style.display = 'none';
            }
        }

        window.addEventListener('scroll', toggleScrollButton);

        scrollBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            // Add slight animation to the icon
            this.querySelector('i').style.transform = 'translateY(-4px)';
            setTimeout(() => {
                this.querySelector('i').style.transform = '';
            }, 300);
        });

        // Initialize on load
        toggleScrollButton();
    });
    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileNav = document.getElementById('mobile-nav');

    mobileMenuToggle.addEventListener('click', function () {
        mobileNav.classList.toggle('active'); // toggles visibility
    });

</script>
<a href="#" id="scrollToTopBtn" class="scroll-to-top-btn" title="Scroll to top" aria-label="Scroll to top">
    <i class="fa fa-arrow-up"></i> <!-- Simple up arrow -->
</a>

<script> $(document).ready(function () { initDepartmentPageActions(); }) </script>
{% endblock %}