{% extends "base.html" %}

{% block title %}About Us - Aarogya Hastha{% endblock %}

{% block content %}
    <section class="department-banner" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="banner">
                <img loading="lazy" src="/static/img/department/lab-medicine.jpg" alt="">
                <div class="text-box-1">
                    <h1>Lab Medicine</h1>
                    <p>The driving force behind cutting-edge treatments</p>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <blockquote class="blockquote blockquote-custom">
                        <p class="mb-0 mt-2">Without laboratories, men of science are soldiers without arm.</p>
                        <div class="blockquote-footer mt-4 text-end">Louis Pasteur</div>
                    </blockquote>
                </div>
                <div class="col-12">
                    <p>Aarogya Hastha Diagnostics conducts different investigations on clinical specimens to obtain
                        information on the health of patients to aid in diagnosis, treatment and prevention of disease.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="department-section py-3">
        <div class="container">
            <p>Aarogya Hastha Diagnostics is here to provide 24×7 service. Our services are comprised of: </p>
            <ul>
                <li>Haematology </li>
                <li>Clinical Pathology </li>
                <li>Medical Microbiology and Serology </li>
                <li>Clinical Biochemistry and immunology </li>
                <li>Special Chemistry</li>
                <li>Histopathology </li>
            </ul>
            <p>Our laboratory medicine team comprises experienced specialized doctors, highly skilled and experienced
                medical laboratory technicians and phlebotomists. Our laboratory is well equipped with state-of-the-art
                instruments with lab interfacing and an integrated system to provide investigation reports within the
                defined turnaround time. </p>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="department-section py-3">
        <div class="container">
            <h2>Our service operatives:</h2>
            <p class="mt-2">The Department of Internal Medicine at Aarogya Hasta Hospital provides a comprehensive range
                of healthcare services focused on the prevention, diagnosis, and treatment of adult medical conditions.
                Their offerings include:</p>
            <div class="row department-sub-services pb-4">
                <div class="department-grid">
                    <div class="item active">
                        <!--  style="--i:url(../img/department/icons/general-medicine-service01.svg);" -->
                        <!-- <img loading="lazy" src="static/img/department/icons/general-medicine-service01.svg"><div class="icon"></div> -->
                        <h4 class="text-dark-blue">Haematology & Clinical Pathology </h4>
                        <div class="content">
                            <p>Haematology and Clinical Pathology deals with testing on whole blood, serum, urine,
                                cerebrospinal fluids and other body fluids, helping clinicians correlate diagnosis and
                                assess disease progression.</p>
                        </div>
                    </div>
                    <div class="item">
                        <h4 class="text-dark-blue">Medical Microbiology</h4>
                        <div class="content">
                            <p>Medical Microbiology is a branch of medicine that manages the diagnosis, prevention and
                                treatment of infectious diseases. Medical microbiologists help diagnose infectious
                                diseases (bacterial, fungal, parasitic and viral) and can guide the treating doctors in
                                further treatment options. They help set up the best infection control practices inside
                                the hospital so as to prevent hospital-acquired infections.</p>
                        </div>
                    </div>
                    <div class="item">
                        <h4 class="text-dark-blue">Clinical Biochemistry and Immunology </h4>
                        <div class="content">
                            <p>Clinical Biochemistry and Immunology provides qualitative and quantitative analysis of
                                biological fluids, including blood, serum or plasma, urine or tissues for specific
                                chemical constituents or physiologic processes.</p>
                        </div>
                    </div>
                </div>
                <div class="department-sub-services-details">
                    <h4 class="text-dark-blue">Haematology & Clinical Pathology </h4>
                    <div class="content">
                        <p>Haematology and Clinical Pathology deals with testing on whole blood, serum, urine,
                            cerebrospinal fluids and other body fluids, helping clinicians correlate diagnosis and
                            assess disease progression.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos-easing="ease-in-sine" class="service-carousel-section py-5">
        <div class="container d-flex justify-content-center">
            <div class="owl-carousel service-carousel">
                <a href="/departments/general_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/general-surgery.svg);"
                    data-department="general-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/general-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">General Surgery</h4>
                </a><a href="/departments/neurosurgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/neurosurgery.svg);"
                    data-department="neurosurgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/neurosurgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Neurosurgery</h4>
                </a><a href="/departments/orthopaedics" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/orthopaedics.svg);"
                    data-department="orthopaedics"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/orthopaedics.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Orthopaedics</h4>
                </a><a href="/departments/anaesthesia" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia.svg);"
                    data-department="anaesthesia"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/anaesthesia.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3"> Anaesthesiology & Critical Care</h4>
                </a><a href="/departments/pain_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/pain-medicine.svg);"
                    data-department="pain-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/pain-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Pain Medicine</h4>
                </a><a href="/departments/general_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/general-medicine.svg);"
                    data-department="general-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/general-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">General Medicine</h4>
                </a><a href="/departments/lab_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/lab-medicine.svg);"
                    data-department="lab-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/lab-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Lab Medicine</h4>
                </a><a href="/departments/paediatrics" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/paediatrics.svg);"
                    data-department="paediatrics"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/paediatrics.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Paediatrics</h4>
                </a><a href="/departments/physiotherapy" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/physiotherapy.svg);"
                    data-department="physiotherapy"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/physiotherapy.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Physiotherapy</h4>
                </a><a href="/departments/dermatology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/dermatology.svg);"
                    data-department="dermatology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/dermatology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Dermatology</h4>
                </a><a href="/departments/ent" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/ent.svg);" data-department="ent"><img
                        class="dept-icon" loading="lazy" src="/static/img/department/icons/ent.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3"> Ear, Nose, and Throat (ENT)</h4>
                </a><a href="/departments/emergency_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/emergency-medicine.svg);"
                    data-department="emergency-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/emergency-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Emergency Medicine</h4>
                </a><a href="/departments/nephrology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/nephrology.svg);"
                    data-department="nephrology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/nephrology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Nephrology</h4>
                </a><a href="/departments/urology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/urology.svg);"
                    data-department="urology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/urology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Urology</h4>
                </a><a href="/departments/medical_gastroenterology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/medical-gastroenterology.svg);"
                    data-department="medical-gastroenterology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/medical-gastroenterology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Medical Gastroenterology</h4>
                </a><a href="/departments/minimal_access_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/minimal-access-surgery.svg);"
                    data-department="minimal-access-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/minimal-access-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Minimal Access Surgery</h4>
                </a><a href="/departments/plastic_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/plastic-surgery.svg);"
                    data-department="plastic-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/plastic-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Plastic Surgery</h4>
                </a><a href="/departments/obg" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/obg.svg);" data-department="obg"><img
                        class="dept-icon" loading="lazy" src="/static/img/department/icons/obg.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Obstetrics & Gynaecology</h4>
                </a><a href="/departments/surgical_gastroenterology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/surgical-gastroenterology.svg);"
                    data-department="surgical-gastroenterology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/surgical-gastroenterology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Surgical Gastroenterology</h4>
                </a><a href="/departments/radiology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/radiology.svg);"
                    data-department="radiology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/radiology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Radiology</h4>
                </a>
            </div>
        </div>
    </section>
    
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="https://fyndbetter.com/chatbot/aarogya_chatbot"></script>
    <script>
        $(".book-apt").on('click', function () {
            var url = $(this).data("url");
            window.open(url, '_blank');
        });
    </script>
    <a href="#" id="scrollToTopBtn" class="scroll-to-top-btn" title="Scroll to top" aria-label="Scroll to top">
        <i class="fa fa-arrow-up"></i> <!-- Simple up arrow -->
    </a>

<script>
    $(document).ready(function () { initDepartmentPageActions(); })
    function showChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.add("is-visible");
        popup.setAttribute("aria-hidden", "false");
    }
    function hideChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.remove("is-visible");
        popup.setAttribute("aria-hidden", "true");
    }
    // ESC closes popup
    document.addEventListener("keydown", e => {
        if (e.key === "Escape") hideChromePopup();
    });
    document.addEventListener('DOMContentLoaded', function () {
        const scrollBtn = document.getElementById('scrollToTopBtn');
        const scrollThreshold = 300;

        function toggleScrollButton() {
            if (window.pageYOffset > scrollThreshold ||
                document.documentElement.scrollTop > scrollThreshold) {
                scrollBtn.style.display = 'flex';
            } else {
                scrollBtn.style.display = 'none';
            }
        }

        window.addEventListener('scroll', toggleScrollButton);

        scrollBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            // Add slight animation to the icon
            this.querySelector('i').style.transform = 'translateY(-4px)';
            setTimeout(() => {
                this.querySelector('i').style.transform = '';
            }, 300);
        });

        // Initialize on load
        toggleScrollButton();
    });
    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileNav = document.getElementById('mobile-nav');

    mobileMenuToggle.addEventListener('click', function () {
        mobileNav.classList.toggle('active'); // toggles visibility
    });

</script>

{% endblock %}