{% extends "base.html" %}

{% block title %}Neurosurgery & Brain Surgery Specialists in Bangalore | Aarogya Hastha{% endblock %}

{% block head %}
{{ super() }}
<meta name="description"
    content="Advanced neurosurgery department in Bangalore for brain tumors, spine surgery, head injury, and stroke. Featuring top neurosurgeons and technology.">
<meta name="keywords"
    content="hospital Bangalore, multi-speciality hospital, healthcare India, medical facilities, expert doctors">
<meta name="author" content="Aarogyahastha Pvt Ltd">
<meta name="designer" content="Aarogyahastha Pvt Ltd">
<meta name="publisher" content="Aarogyahastha Pvt Ltd">
<meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="7 days">
<meta name="distribution" content="web">
<meta name="robots" content="noodp">
<meta name="web_author" content="Aarogyahastha Pvt Ltd">
<meta name="rating" content="general">
<meta name="rating" content="safe for kids">
<meta name="subject" content="Healthcare">
<meta name="copyright" content="Copyright © 2025">
<meta name="reply-to" content="info@aarogyahastha.com">
<meta name="abstract"
    content="We provide timely and specialized medical attention for patients experiencing life-threatening conditions, ensuring their urgent needs are met with the highest level of care.">
<meta name="city" content="Bangalore">
<meta name="country" content="India">
<meta name="distribution" content="global">
<meta name="classification" content="Healthcare, Hospital">
<base href="/">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="department-banner" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="container">
        <div class="banner">
            <img loading="lazy" src="../static/img/department/departments.jpg" alt="" style="width: 100%;">
            <div class="text-box-1">
                <h1>Neurosurgery</h1>
                <!-- <p>Comprehensive, compassionate care of children powered by science, driven by values </p> -->
            </div>
        </div>
    </div>
</section>

<!-- appointment section -->
<section class="pb-5" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="container">
        <div class="row p-5 mx-0 shadow rounded align-items-center">
            <!-- <div class="col-lg-5 order-lg-2">
                <blockquote class="blockquote blockquote-custom p-4">
                    <div class="blockquote-custom-icon shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"A child must know he is a miracle , that since the beginning of the world there hasn't been, and until the end of the world there will not be, another child like him."</p>
                    <div class="blockquote-footer mt-4"><cite title="Source Title">Pablo Casals</cite>
                    </div>
                </blockquote>
            </div> -->
            <div class="col-lg-12 order-lg-1 p-4">
                <p>Welcome to our Neurosurgery department at Aarogya Hastha Hospital, the prime destination for all
                    your neurological needs. With the commitment to providing the highest level of care through our
                    dedicated team of neurosurgeons and medical professionals, we offer treatment for all
                    neurological disorders. At Aarogya Hastha Hospital, our state-of-the-art medical infrastructure
                    is equipped with the latest technology and equipment to provide complete care for a wide range
                    of neurological conditions.</p>
            </div>
        </div>
    </div>
</section>
<section class="pb-5" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="container">
        <h4>Our Services:</h4>
        <div class="row deaprtment-services pb-4">
            <div class="col-md-6 col-lg-4">
                <div class="card-sl">
                    <div class="card-heading">
                        Brain Tumor Surgery
                    </div>
                    <div class="card-text">
                        Aarogya Hastha Hospital offers advanced surgical procedures for the treatment of brain
                        tumours. Our highly skilled neurosurgeons use minimally invasive techniques to remove
                        tumours while preserving neurological function and minimizing complications.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-sl">
                    <div class="card-heading">
                        Spinal Surgery
                    </div>
                    <div class="card-text">
                        We specialize in diagnosing and treating spinal disorders such as herniated discs, spinal
                        stenosis, and spinal cord injuries. Our surgeons are trained and offer the latest techniques
                        to provide the best possible outcomes for our patients.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-sl">
                    <div class="card-heading">
                        Head Trauma & Neurotrauma Care
                    </div>
                    <div class="card-text">
                        Our neurosurgery team is well-equipped to treat patients with brain and spinal injuries
                        caused by accidents, falls, or other trauma. We provide immediate and advanced care to
                        prevent further damage and promote healing.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-sl">
                    <div class="card-heading">
                        Pediatric Neurosurgery
                    </div>
                    <div class="card-text">
                        We understand the unique needs of our youngest patients and provide specialized care for
                        neurological conditions affecting children. Our expert team is experienced in treating
                        conditions such as brain and spinal cord malformations, hydrocephalus, and pediatric brain
                        tumours.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-sl">
                    <div class="card-heading">
                        Peripheral Nerve Surgery
                    </div>
                    <div class="card-text">
                        Our neurosurgeons offer a wide range of procedures for the surgical management of peripheral
                        nerve disorders, including carpal tunnel syndrome, nerve entrapment, and nerve injuries.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-sl">
                    <div class="card-heading">
                        Minimally Invasive Procedures
                    </div>
                    <div class="card-text">
                        At Aarogya Hastha Hospital, we strive to provide the most effective minimally invasive
                        treatment options. Our advanced techniques allow for smaller incisions, quicker recovery,
                        and fewer complications.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="department-section py-3 mb-5">
    <div class="container">
        <p class="content-highlight">Aarogya Hastha Hospital is committed to providing all our patients with the
            highest standard of neurosurgical care. We believe in a comprehensive approach to treatment, considering
            each patient's individual needs. With our advanced services and experienced team, we aim to improve the
            quality of life for those suffering from neurological disorders. </p>
    </div>
</section>
<section data-aos-easing="ease-in-sine" class="service-carousel-section py-5">
    <div class="container d-flex justify-content-center">
        <div class="owl-carousel service-carousel">
            <a href="/departments/general_surgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/general-surgery.svg);"
                data-department="general-surgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/general-surgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">General Surgery</h4>
            </a><a href="/departments/neurosurgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/neurosurgery.svg);"
                data-department="neurosurgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/neurosurgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Neurosurgery</h4>
            </a><a href="/departments/orthopaedics" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/orthopaedics.svg);"
                data-department="orthopaedics"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/orthopaedics.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Orthopaedics</h4>
            </a><a href="/departments/anaesthesia" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia.svg);"
                data-department="anaesthesia"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/anaesthesia.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3"> Anaesthesiology & Critical Care</h4>
            </a><a href="/departments/pain_medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/pain-medicine.svg);"
                data-department="pain-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/pain-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Pain Medicine</h4>
            </a><a href="/departments/general_medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/general-medicine.svg);"
                data-department="general-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/general-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">General Medicine</h4>
            </a><a href="/departments/lab_medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/lab-medicine.svg);"
                data-department="lab-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/lab-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Lab Medicine</h4>
            </a><a href="/departments/paediatrics" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/paediatrics.svg);"
                data-department="paediatrics"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/paediatrics.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Paediatrics</h4>
            </a><a href="/departments/physiotherapy" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/physiotherapy.svg);"
                data-department="physiotherapy"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/physiotherapy.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Physiotherapy</h4>
            </a><a href="/departments/dermatology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/dermatology.svg);"
                data-department="dermatology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/dermatology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Dermatology</h4>
            </a><a href="/departments/ent" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/ent.svg);" data-department="ent"><img
                    class="dept-icon" loading="lazy" src="/static/img/department/icons/ent.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3"> Ear, Nose, and Throat (ENT)</h4>
            </a><a href="/departments/emergency_medicine" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/emergency-medicine.svg);"
                data-department="emergency-medicine"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/emergency-medicine.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Emergency Medicine</h4>
            </a><a href="/departments/nephrology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/nephrology.svg);"
                data-department="nephrology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/nephrology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Nephrology</h4>
            </a><a href="/departments/urology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/urology.svg);"
                data-department="urology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/urology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Urology</h4>
            </a><a href="/departments/medical_gastroenterology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/medical-gastroenterology.svg);"
                data-department="medical-gastroenterology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/medical-gastroenterology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Medical Gastroenterology</h4>
            </a><a href="/departments/minimal_access_surgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/minimal-access-surgery.svg);"
                data-department="minimal-access-surgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/minimal-access-surgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Minimal Access Surgery</h4>
            </a><a href="/departments/plastic_surgery" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/plastic-surgery.svg);"
                data-department="plastic-surgery"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/plastic-surgery.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Plastic Surgery</h4>
            </a><a href="/departments/obg" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/obg.svg);" data-department="obg"><img
                    class="dept-icon" loading="lazy" src="/static/img/department/icons/obg.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Obstetrics & Gynaecology</h4>
            </a><a href="/departments/surgical_gastroenterology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/surgical-gastroenterology.svg);"
                data-department="surgical-gastroenterology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/surgical-gastroenterology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Surgical Gastroenterology</h4>
            </a><a href="/departments/radiology" class="item"
                style="--i:url(https://aarogyahastha.com/img/department/icons/radiology.svg);"
                data-department="radiology"><img class="dept-icon" loading="lazy"
                    src="/static/img/department/icons/radiology.svg">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Radiology</h4>
            </a>
        </div>
    </div>
</section>
<style>
    .video-section {
        display: none;
    }
</style>
<!-- video section -->
<section class="video-section py-3">
    <div class="container">
        <h2 class="text-center">Compassionate Care Dedicated Service
        </h2>
        <video poster="/static/video/thumb.jpg" controls>
            <source src="../static/video/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- custom script -->
<script src="../static/js/script.js"></script>

<a href="#" id="scrollToTopBtn" class="scroll-to-top-btn" title="Scroll to top" aria-label="Scroll to top">
    <i class="fa fa-arrow-up"></i> <!-- Simple up arrow -->
</a>

<script>
    $(document).ready(function () {
        $('.item').on('click', function () {
            location.href = 'departments/' + $(this).data('department');
        })
    })
    function showChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.add("is-visible");
        popup.setAttribute("aria-hidden", "false");
    }
    function hideChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.remove("is-visible");
        popup.setAttribute("aria-hidden", "true");
    }
    // ESC closes popup
    document.addEventListener("keydown", e => {
        if (e.key === "Escape") hideChromePopup();
    });
    document.addEventListener('DOMContentLoaded', function () {
        const scrollBtn = document.getElementById('scrollToTopBtn');
        const scrollThreshold = 300;

        function toggleScrollButton() {
            if (window.pageYOffset > scrollThreshold ||
                document.documentElement.scrollTop > scrollThreshold) {
                scrollBtn.style.display = 'flex';
            } else {
                scrollBtn.style.display = 'none';
            }
        }

        window.addEventListener('scroll', toggleScrollButton);

        scrollBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            // Add slight animation to the icon
            this.querySelector('i').style.transform = 'translateY(-4px)';
            setTimeout(() => {
                this.querySelector('i').style.transform = '';
            }, 300);
        });

        // Initialize on load
        toggleScrollButton();
    });
    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileNav = document.getElementById('mobile-nav');

    mobileMenuToggle.addEventListener('click', function () {
        mobileNav.classList.toggle('active'); // toggles visibility
    });

</script>

{% endblock %}