{% extends "base.html" %}

{% block title %}About Us - Aarogya Hastha{% endblock %}

{% block content %}
    <section class="department-banner" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="banner">
                <img loading="lazy" src="/static/img/department/ent.jpg" alt="" style="width: 100%;">
                <div class="text-box-1">
                    <h1>Ear, Nose & Throat (ENT)</h1>
                    <p>Expert Care for All Things ENT</p>
                </div>
            </div>
        </div>
    </section>

    <!-- appointment section -->
    <section class="pb-5" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="row p-5 mx-0 shadow rounded align-items-center">
                <!-- <div class="col-lg-5 order-lg-2">
                <blockquote class="blockquote blockquote-custom p-4">
                    <div class="blockquote-custom-icon shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"A child must know he is a miracle , that since the beginning of the world there hasn't been, and until the end of the world there will not be, another child like him."</p>
                    <div class="blockquote-footer mt-4"><cite title="Source Title">Pablo Casals</cite>
                    </div>
                </blockquote>
            </div> -->
                <div class="col-lg-12 order-lg-1 p-4">
                    <p>Department of Ear, Nose and Throat (ENT) is equipped with the latest technology to diagnose and
                        treat major conditions. From common issues like sinusitis and ear infections to complex
                        disorders such as hearing loss and head and neck tumours, we offer a full spectrum of services
                        to cater to your specific needs.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            <h4>Some of the common services we offer at Aarogya Hastha Hospital include:</h4>
            <div class="row deaprtment-services pb-4">
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Diagnostic evaluation
                        </div>
                        <div class="card-text">
                            Our ENT specialists use advanced diagnostic tools, such as endoscopes and imaging
                            techniques, to accurately diagnose conditions of the ear, nose, and throat. This helps us to
                            design an effective treatment plan for each individual patient.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Allergy testing and treatment
                        </div>
                        <div class="card-text">
                            If you suffer from allergies that affect your ears, nose, or throat, our allergy testing and
                            treatment services can provide relief. We use skin prick tests and blood tests to verify the
                            allergens that trigger your symptoms and then create a personalized treatment plan, which
                            may include allergy shots, medications, or avoidance techniques.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Hearing and balance disorders
                        </div>
                        <div class="card-text">
                            Our ENT specialists are trained to diagnose and treat various hearing and balance disorders,
                            including hearing loss, tinnitus (ringing in the ears), and vertigo. We offer comprehensive
                            hearing tests and provide hearing aids and other devices to improve your hearing and
                            balance.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Sinus and nasal disorders
                        </div>
                        <div class="card-text">
                            Sinusitis, nasal polyps, and deviated septum are some of the common conditions affecting the
                            nasal passages and sinuses. Our team of experts offers medical and surgical treatments to
                            alleviate symptoms and improve your overall quality of life.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Throat and voice disorders
                        </div>
                        <div class="card-text">
                            Difficulty in swallowing, chronic cough, and hoarseness are some of the symptoms of throat
                            and voice disorders, which can significantly impact your daily life. Our ENT specialists use
                            the latest techniques and technology to diagnose and treat conditions of the throat and
                            voice box.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine"
        class="department-section py-3 mb-5">
        <div class="container">
            <p class="content-highlight">Aarogya Hastha also offers a variety of surgical procedures, including ear tube
                insertion, tonsillectomy and sinus surgery.</p>
        </div>
    </section>

    <section class=" py-3">
        <div class="container">
            <h2>Our Specialists</h2>
            <div id="doctors-list" class="appointment-section">
                <div class="doctor-section mb-5">
                    <div class="row g-3">
                        <div class="col-lg-6 doctor-item" data-doctor="farmida-aman">
                            <div class="img-box"><img class="img-fluid" src="/static/img/doctors/farmida-aman.jpg"></a>
                            </div>
                            <div class="doctor-box">
                                <h3>Dr. Farmida Aman</h3>
                                <h4>Consultant Surgeon – Surgeon ENT</h4>
                                <p class="mt-4"><small><b>Languages spoken:</b> <br />English, Kannada, Hindi, and
                                        Bengali</small></p>
                                <p class="mt-4"><small><b>Consultation</b><br />Tuesday, Thursday, and Saturday - 06:00
                                        PM to 08:00 PM</small></p><a class="book-btn"
                                    href="https://app.fyndbetter.com/ahh_apt" target="_blank">BOOK APPOINTMENT</a>
                            </div>
                        </div>
                        <div class="col-lg-6 doctor-item" data-doctor="abhilasha-sadhoo">
                            <div class="img-box"><img class="img-fluid"
                                    src="/static/img/doctors/abhilasha-sadhoo-01.jpg"></a></div>
                            <div class="doctor-box">
                                <h3>Dr. Abhilasha Sadhoo</h3>
                                <h4>Consultant - ENT</h4>
                                <p class="mt-4"><small><b>Languages spoken:</b> <br />Kannada, English, and
                                        Hindi</small></p>
                                <p class="mt-4"><small><b>Consultation</b><br />Tuesday, Thursday and Saturday
                                        <br />11:00&nbsp;AM to 02:00&nbsp;PM</small></p><a class="book-btn"
                                    href="https://app.fyndbetter.com/ahh_apt" target="_blank">BOOK APPOINTMENT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos-easing="ease-in-sine" class="service-carousel-section py-5">
        <div class="container d-flex justify-content-center">
            <div class="owl-carousel service-carousel">
                <a href="/departments/general_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/general-surgery.svg);"
                    data-department="general-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/general-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">General Surgery</h4>
                </a><a href="/departments/neurosurgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/neurosurgery.svg);"
                    data-department="neurosurgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/neurosurgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Neurosurgery</h4>
                </a><a href="/departments/orthopaedics" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/orthopaedics.svg);"
                    data-department="orthopaedics"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/orthopaedics.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Orthopaedics</h4>
                </a><a href="/departments/anaesthesia" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia.svg);"
                    data-department="anaesthesia"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/anaesthesia.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3"> Anaesthesiology & Critical Care</h4>
                </a><a href="/departments/pain_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/pain-medicine.svg);"
                    data-department="pain-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/pain-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Pain Medicine</h4>
                </a><a href="/departments/general_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/general-medicine.svg);"
                    data-department="general-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/general-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">General Medicine</h4>
                </a><a href="/departments/lab_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/lab-medicine.svg);"
                    data-department="lab-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/lab-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Lab Medicine</h4>
                </a><a href="/departments/paediatrics" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/paediatrics.svg);"
                    data-department="paediatrics"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/paediatrics.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Paediatrics</h4>
                </a><a href="/departments/physiotherapy" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/physiotherapy.svg);"
                    data-department="physiotherapy"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/physiotherapy.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Physiotherapy</h4>
                </a><a href="/departments/dermatology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/dermatology.svg);"
                    data-department="dermatology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/dermatology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Dermatology</h4>
                </a><a href="/departments/ent" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/ent.svg);" data-department="ent"><img
                        class="dept-icon" loading="lazy" src="/static/img/department/icons/ent.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3"> Ear, Nose, and Throat (ENT)</h4>
                </a><a href="/departments/emergency_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/emergency-medicine.svg);"
                    data-department="emergency-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/emergency-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Emergency Medicine</h4>
                </a><a href="/departments/nephrology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/nephrology.svg);"
                    data-department="nephrology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/nephrology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Nephrology</h4>
                </a><a href="/departments/urology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/urology.svg);"
                    data-department="urology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/urology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Urology</h4>
                </a><a href="/departments/medical_gastroenterology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/medical-gastroenterology.svg);"
                    data-department="medical-gastroenterology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/medical-gastroenterology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Medical Gastroenterology</h4>
                </a><a href="/departments/minimal_access_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/minimal-access-surgery.svg);"
                    data-department="minimal-access-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/minimal-access-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Minimal Access Surgery</h4>
                </a><a href="/departments/plastic_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/plastic-surgery.svg);"
                    data-department="plastic-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/plastic-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Plastic Surgery</h4>
                </a><a href="/departments/obg" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/obg.svg);" data-department="obg"><img
                        class="dept-icon" loading="lazy" src="/static/img/department/icons/obg.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Obstetrics & Gynaecology</h4>
                </a><a href="/departments/surgical_gastroenterology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/surgical-gastroenterology.svg);"
                    data-department="surgical-gastroenterology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/surgical-gastroenterology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Surgical Gastroenterology</h4>
                </a><a href="/departments/radiology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/radiology.svg);"
                    data-department="radiology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/radiology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Radiology</h4>
                </a>
            </div>
        </div>
    </section>
    <style>
        .video-section {
            display: none;
        }
    </style>
    <!-- video section -->
    <section class="video-section py-3">
        <div class="container">
            <h2 class="text-center">Compassionate Care Dedicated Service
            </h2>
            <video poster="/static/video/thumb.jpg" controls>
                <source src="/static/video/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
     
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- custom script -->
    <script src="/static/js/script.js"></script>

    <a href="#" id="scrollToTopBtn" class="scroll-to-top-btn" title="Scroll to top" aria-label="Scroll to top">
        <i class="fa fa-arrow-up"></i> <!-- Simple up arrow -->
    </a>

<script>
    $(document).ready(function () {
        $('.item').on('click', function () {
            location.href = 'departments/' + $(this).data('department');
        })
    })
    function showChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.add("is-visible");
        popup.setAttribute("aria-hidden", "false");
    }
    function hideChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.remove("is-visible");
        popup.setAttribute("aria-hidden", "true");
    }
    // ESC closes popup
    document.addEventListener("keydown", e => {
        if (e.key === "Escape") hideChromePopup();
    });
    document.addEventListener('DOMContentLoaded', function () {
        const scrollBtn = document.getElementById('scrollToTopBtn');
        const scrollThreshold = 300;

        function toggleScrollButton() {
            if (window.pageYOffset > scrollThreshold ||
                document.documentElement.scrollTop > scrollThreshold) {
                scrollBtn.style.display = 'flex';
            } else {
                scrollBtn.style.display = 'none';
            }
        }

        window.addEventListener('scroll', toggleScrollButton);

        scrollBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            // Add slight animation to the icon
            this.querySelector('i').style.transform = 'translateY(-4px)';
            setTimeout(() => {
                this.querySelector('i').style.transform = '';
            }, 300);
        });

        // Initialize on load
        toggleScrollButton();
    });
    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileNav = document.getElementById('mobile-nav');

    mobileMenuToggle.addEventListener('click', function () {
        mobileNav.classList.toggle('active'); // toggles visibility
    });

</script>
{% endblock %}