{% extends "base.html" %}

{% block title %}About Us - Aarogya Hastha{% endblock %}

{% block content %}


    <section class="department-banner" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="banner">
                <img loading="lazy" src="/static/img/department/urology.jpg" alt="" style="width: 100%;">
                <div class="text-box-1">
                    <h1>Urology</h1>
                    <!-- <p>Comprehensive, compassionate care of children powered by science, driven by values </p> -->
                </div>
            </div>
        </div>
    </section>

    <!-- appointment section -->
    <section class="pb-5" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            <div class="row p-5 mx-0 shadow rounded align-items-center">
                <!-- <div class="col-lg-5 order-lg-2">
                <blockquote class="blockquote blockquote-custom p-4">
                    <div class="blockquote-custom-icon shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"A child must know he is a miracle , that since the beginning of the world there hasn't been, and until the end of the world there will not be, another child like him."</p>
                    <div class="blockquote-footer mt-4"><cite title="Source Title">Pablo Casals</cite>
                    </div>
                </blockquote>
            </div> -->
                <div class="col-lg-12 order-lg-1 p-4">
                    <p>Welcome to the Urology department at Aarogya Hastha Hospital. We take pride in providing our
                        patients with comprehensive and compassionate care for all their urologic needs. Our experienced
                        and skilled urologists work tirelessly to ensure that our patients receive the best possible
                        treatment and care.</p>
                    <p>At Aarogya Hastha Hospital, we offer a wide range of urological services to cater to the diverse
                        needs of our patients. We offer clinically advanced techniques in treating major urological
                        conditions including urinary tract infections, prostate problems, kidney stones, infertility,
                        and other disorders of the urinary tract and reproductive system.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            <h4>Some of the services offered by our Urology department include:</h4>
            <div class="row deaprtment-services pb-4">
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Diagnostic Tests
                        </div>
                        <div class="card-text">
                            Our hospital is equipped with state-of-the-art diagnostic tools and techniques to diagnose
                            urological conditions accurately. We offer a comprehensive range of tests such as urine
                            analysis, ultrasound, prostate-specific antigen (PSA) test, and more.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Endoscopic Procedures
                        </div>
                        <div class="card-text">
                            We offer minimally invasive endoscopic procedures that treat conditions such as kidney
                            stones, bladder tumours, and urethral strictures. These procedures ensure faster recovery
                            and minimal scarring.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Laparoscopic Surgery
                        </div>
                        <div class="card-text">
                            Our team of urologists is well-versed in performing laparoscopic surgery for conditions such
                            as kidney cancer, ureteric strictures, and bladder diverticula. This type of surgery offers
                            many advantages, including smaller incisions, less scarring, and faster recovery.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Kidney Transplantation
                        </div>
                        <div class="card-text">
                            Aarogya Hastha Hospital is a renowned centre for kidney transplantation. Our urologists work
                            in close collaboration with the transplant team to provide end-to-end care to patients with
                            kidney disorders who require a transplant.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-sl">
                        <div class="card-heading">
                            Andrology Clinic
                        </div>
                        <div class="card-text">
                            Our Andrology Clinic is dedicated to diagnosing and treating male sexual and reproductive
                            health issues. Our team offers specialized treatments such as erectile dysfunction
                            management, vasectomy, and vasectomy reversal.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine"
        class="department-section py-3 mb-5">
        <div class="container">
            <p class="content-highlight">Our Urology department at Aarogya Hastha Hospital offers comprehensive and
                specialized care to patients with urological problems. Our team of experts, along with the latest
                technology and equipment, ensure the best possible outcomes for our patients. We are committed to
                providing you with the best possible care and helping you achieve good urologic health. </p>
        </div>
    </section>

    <section class=" py-3">
        <div class="container">
            <h2>Our Specialists</h2>
            <div id="doctors-list" class="appointment-section">
                <div class="doctor-section mb-5">
                    <div class="row g-3">
                        <div class="col-lg-6 doctor-item" data-doctor="srikanth">
                            <div class="img-box"><img class="img-fluid" src="/static/img/doctors/srikanth-01.jpg"></a>
                            </div>
                            <div class="doctor-box">
                                <h3>Dr. Srikanth</h3>
                                <h4>Consultant – Urology</h4>
                                <p class="mt-4"><small><b>Languages spoken:</b> <br />Kannada, English, Hindi, Tamil,
                                        and Telugu</small></p>
                                <p class="mt-4"><small><b>Consultation</b><br />Monday, Wednesday and Friday
                                        <br />11:30&nbsp;AM to 01:30&nbsp;PM</small></p><a class="book-btn"
                                    href="https://app.fyndbetter.com/ahh_apt" target="_blank">BOOK APPOINTMENT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos-easing="ease-in-sine" class="service-carousel-section py-5">
        <div class="container d-flex justify-content-center">
           <div class="owl-carousel service-carousel">
                <a href="/departments/general_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/general-surgery.svg);"
                    data-department="general-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/general-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">General Surgery</h4>
                </a><a href="/departments/neurosurgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/neurosurgery.svg);"
                    data-department="neurosurgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/neurosurgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Neurosurgery</h4>
                </a><a href="/departments/orthopaedics" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/orthopaedics.svg);"
                    data-department="orthopaedics"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/orthopaedics.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Orthopaedics</h4>
                </a><a href="/departments/anaesthesia" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/anaesthesia.svg);"
                    data-department="anaesthesia"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/anaesthesia.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3"> Anaesthesiology & Critical Care</h4>
                </a><a href="/departments/pain_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/pain-medicine.svg);"
                    data-department="pain-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/pain-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Pain Medicine</h4>
                </a><a href="/departments/general_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/general-medicine.svg);"
                    data-department="general-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/general-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">General Medicine</h4>
                </a><a href="/departments/lab_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/lab-medicine.svg);"
                    data-department="lab-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/lab-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Lab Medicine</h4>
                </a><a href="/departments/paediatrics" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/paediatrics.svg);"
                    data-department="paediatrics"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/paediatrics.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Paediatrics</h4>
                </a><a href="/departments/physiotherapy" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/physiotherapy.svg);"
                    data-department="physiotherapy"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/physiotherapy.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Physiotherapy</h4>
                </a><a href="/departments/dermatology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/dermatology.svg);"
                    data-department="dermatology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/dermatology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Dermatology</h4>
                </a><a href="/departments/ent" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/ent.svg);" data-department="ent"><img
                        class="dept-icon" loading="lazy" src="/static/img/department/icons/ent.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3"> Ear, Nose, and Throat (ENT)</h4>
                </a><a href="/departments/emergency_medicine" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/emergency-medicine.svg);"
                    data-department="emergency-medicine"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/emergency-medicine.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Emergency Medicine</h4>
                </a><a href="/departments/nephrology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/nephrology.svg);"
                    data-department="nephrology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/nephrology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Nephrology</h4>
                </a><a href="/departments/urology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/urology.svg);"
                    data-department="urology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/urology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Urology</h4>
                </a><a href="/departments/medical_gastroenterology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/medical-gastroenterology.svg);"
                    data-department="medical-gastroenterology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/medical-gastroenterology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Medical Gastroenterology</h4>
                </a><a href="/departments/minimal_access_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/minimal-access-surgery.svg);"
                    data-department="minimal-access-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/minimal-access-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Minimal Access Surgery</h4>
                </a><a href="/departments/plastic_surgery" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/plastic-surgery.svg);"
                    data-department="plastic-surgery"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/plastic-surgery.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Plastic Surgery</h4>
                </a><a href="/departments/obg" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/obg.svg);" data-department="obg"><img
                        class="dept-icon" loading="lazy" src="/static/img/department/icons/obg.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Obstetrics & Gynaecology</h4>
                </a><a href="/departments/surgical_gastroenterology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/surgical-gastroenterology.svg);"
                    data-department="surgical-gastroenterology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/surgical-gastroenterology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Surgical Gastroenterology</h4>
                </a><a href="/departments/radiology" class="item"
                    style="--i:url(https://aarogyahastha.com/img/department/icons/radiology.svg);"
                    data-department="radiology"><img class="dept-icon" loading="lazy"
                        src="/static/img/department/icons/radiology.svg">
                    <div class="icon"></div>
                    <h4 class="text-dark-blue my-md-3">Radiology</h4>
                </a>
            </div>
        </div>
    </section>
    <style>
        .video-section {
            display: none;
        }
    </style>
    
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="https://fyndbetter.com/chatbot/aarogya_chatbot"></script>
    <script>
        $(".book-apt").on('click', function () {
            var url = $(this).data("url");
            window.open(url, '_blank');
        });
    </script>
    <a href="#" id="scrollToTopBtn" class="scroll-to-top-btn" title="Scroll to top" aria-label="Scroll to top">
        <i class="fa fa-arrow-up"></i> <!-- Simple up arrow -->
    </a>

<script>
    $(document).ready(function () {
        $('.item').on('click', function () {
            location.href = 'departments/' + $(this).data('department');
        })
    })
    function showChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.add("is-visible");
        popup.setAttribute("aria-hidden", "false");
    }
    function hideChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.remove("is-visible");
        popup.setAttribute("aria-hidden", "true");
    }
    // ESC closes popup
    document.addEventListener("keydown", e => {
        if (e.key === "Escape") hideChromePopup();
    });
    document.addEventListener('DOMContentLoaded', function () {
        const scrollBtn = document.getElementById('scrollToTopBtn');
        const scrollThreshold = 300;

        function toggleScrollButton() {
            if (window.pageYOffset > scrollThreshold ||
                document.documentElement.scrollTop > scrollThreshold) {
                scrollBtn.style.display = 'flex';
            } else {
                scrollBtn.style.display = 'none';
            }
        }

        window.addEventListener('scroll', toggleScrollButton);

        scrollBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            // Add slight animation to the icon
            this.querySelector('i').style.transform = 'translateY(-4px)';
            setTimeout(() => {
                this.querySelector('i').style.transform = '';
            }, 300);
        });

        // Initialize on load
        toggleScrollButton();
    });
    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileNav = document.getElementById('mobile-nav');

    mobileMenuToggle.addEventListener('click', function () {
        mobileNav.classList.toggle('active'); // toggles visibility
    });

</script>

{% endblock %}