{% extends "base.html" %}

{% block title %}Aarogya Hastha Hospitals | Best [Multi-Speciality] Hospital in Bangalore, India{% endblock %}

{% block head %}
{{ super() }}
<meta name="description"
    content="Discover the best hospitals in Bangalore, India. Find expert care, advanced facilities & trusted doctors near you. Visit Aarogya Hastha Hospitals today!">
<meta name="keywords"
    content="hospital Bangalore, multi-speciality hospital, healthcare India, medical facilities, expert doctors">
<meta name="author" content="Aarogyahastha Pvt Ltd">
<meta name="designer" content="Aarogyahastha Pvt Ltd">
<meta name="publisher" content="Aarogyahastha Pvt Ltd">
<meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="7 days">
<meta name="distribution" content="web">
<meta name="robots" content="noodp">
<meta name="web_author" content="Aarogyahastha Pvt Ltd">
<meta name="rating" content="general">
<meta name="rating" content="safe for kids">
<meta name="subject" content="Healthcare">
<meta name="copyright" content="Copyright © 2025">
<meta name="reply-to" content="info@aarogyahastha.com">
<meta name="abstract"
    content="We provide timely and specialized medical attention for patients experiencing life-threatening conditions, ensuring their urgent needs are met with the highest level of care.">
<meta name="city" content="Bangalore">
<meta name="country" content="India">
<meta name="distribution" content="global">
<meta name="classification" content="Healthcare, Hospital">
<base href="/">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="department-banner" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="container">
        <div class="banner">
            <img loading="lazy" src="/static/img/department/departments.jpg" alt="">
            <div class="text-box-1">
                <h1>Departments</h1>
                <p>Aarogya Hastha Hospitals is dedicated to providing expert medical care across a wide range of
                    specialities and promoting overall health and wellness.</p>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up" data-aos-offset="10" data-aos-easing="ease-in-sine" class="department-section section py-3">
    <div class="container">
        <h2 class="text-center py-2 pt-5">Departments</h2>
        <div class="department-grid">
            </a>
            <a href="/departments/general_surgery" class="item"
                style="--i:url(../img/department/icons/general-surgery.svg);" data-department="general-surgery">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/general-surgery.svg"
                    alt="General Surgery">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">General Surgery</h4>
            </a>

            <a href="/departments/neurosurgery" class="item" style="--i:url(../img/department/icons/neurosurgery.svg);"
                data-department="neurosurgery">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/neurosurgery.svg"
                    alt="Neurosurgery">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Neurosurgery</h4>
            </a>

            <a href="/departments/orthopaedics" class="item" style="--i:url(../img/department/icons/orthopaedics.svg);"
                data-department="orthopaedics">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/orthopaedics.svg"
                    alt="Orthopaedics">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Orthopaedics</h4>
            </a>

            <a href="/departments/anaesthesia" class="item" style="--i:url(../img/department/icons/anaesthesia.svg);"
                data-department="anaesthesia">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/anaesthesia.svg"
                    alt="Anaesthesiology">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Anaesthesiology & Critical Care</h4>
            </a>

            <a href="/departments/pain_medicine" class="item"
                style="--i:url(../img/department/icons/pain-medicine.svg);" data-department="pain-medicine">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/pain-medicine.svg"
                    alt="Pain Medicine">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Pain Medicine</h4>
            </a>

            <a href="/departments/general_medicine" class="item"
                style="--i:url(../img/department/icons/general-medicine.svg);" data-department="general-medicine">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/general-medicine.svg"
                    alt="General Medicine">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">General Medicine</h4>
            </a>

            <a href="/departments/lab_medicine" class="item" style="--i:url(../img/department/icons/lab-medicine.svg);"
                data-department="lab-medicine">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/lab-medicine.svg"
                    alt="Lab Medicine">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Lab Medicine</h4>
            </a>

            <a href="/departments/paediatrics" class="item" style="--i:url(../img/department/icons/paediatrics.svg);"
                data-department="paediatrics">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/paediatrics.svg"
                    alt="Paediatrics">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Paediatrics</h4>
            </a>

            <a href="/departments/physiotherapy" class="item"
                style="--i:url(../img/department/icons/physiotherapy.svg);" data-department="physiotherapy">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/physiotherapy.svg"
                    alt="Physiotherapy">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Physiotherapy</h4>
            </a>

            <a href="/departments/dermatology" class="item" style="--i:url(../img/department/icons/dermatology.svg);"
                data-department="dermatology">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/dermatology.svg"
                    alt="Dermatology">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Dermatology</h4>
            </a>

            <a href="/departments/ent" class="item" style="--i:url(../img/department/icons/ent.svg);"
                data-department="ent">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/ent.svg" alt="ENT">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Ear, Nose, and Throat (ENT)</h4>
            </a>

            <a href="/departments/emergency_medicine" class="item"
                style="--i:url(../img/department/icons/emergency-medicine.svg);" data-department="emergency-medicine">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/emergency-medicine.svg"
                    alt="Emergency Medicine">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Emergency Medicine</h4>
            </a>

            <a href="/departments/nephrology" class="item" style="--i:url(../img/department/icons/nephrology.svg);"
                data-department="nephrology">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/nephrology.svg"
                    alt="Nephrology">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Nephrology</h4>
            </a>

            <a href="/departments/urology" class="item" style="--i:url(../img/department/icons/urology.svg);"
                data-department="urology">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/urology.svg" alt="Urology">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Urology</h4>
            </a>

            <a href="/departments/medical_gastroenterology" class="item"
                style="--i:url(../img/department/icons/medical-gastroenterology.svg);"
                data-department="medical-gastroenterology">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/medical-gastroenterology.svg"
                    alt="Medical Gastroenterology">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Medical Gastroenterology</h4>
            </a>

            <a href="/departments/minimal_access_surgery" class="item"
                style="--i:url(../img/department/icons/minimal-access-surgery.svg);"
                data-department="minimal-access-surgery">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/minimal-access-surgery.svg"
                    alt="Minimal Access Surgery">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Minimal Access Surgery</h4>
            </a>

            <a href="/departments/plastic_surgery" class="item"
                style="--i:url(../img/department/icons/plastic-surgery.svg);" data-department="plastic-surgery">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/plastic-surgery.svg"
                    alt="Plastic Surgery">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Plastic Surgery</h4>
            </a>

            <a href="/departments/obg" class="item" style="--i:url(../img/department/icons/obg.svg);"
                data-department="obg">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/obg.svg" alt="OBG">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Obstetrics & Gynaecology</h4>
            </a>

            <a href="/departments/surgical_gastroenterology" class="item"
                style="--i:url(../img/department/icons/surgical-gastroenterology.svg);"
                data-department="surgical-gastroenterology">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/surgical-gastroenterology.svg"
                    alt="Surgical Gastroenterology">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Surgical Gastroenterology</h4>
            </a>

            <a href="/departments/radiology" class="item" style="--i:url(../img/department/icons/radiology.svg);"
                data-department="radiology">
                <img class="dept-icon" loading="lazy" src="/static/img/department/icons/radiology.svg" alt="Radiology">
                <div class="icon"></div>
                <h4 class="text-dark-blue my-md-3">Radiology</h4>
            </a>

        </div>
    </div>
</section>



<div id="chrome-popup" class="chrome-popup" aria-hidden="true">
    <div class="chrome-popup__content">
        <p class="chrome-popup__title">Open WhatsApp?</p>
        <p class="chrome-popup__url">https://api.whatsapp.com wants to open this application.</p>
        <label class="chrome-popup__checkbox">
            <input type="checkbox"> Always allow api.whatsapp.com to open links of this type in the associated app
        </label>
    </div>
    <div class="chrome-popup__actions">
        <a href="whatsapp://send?phone=919036092727" class="chrome-btn chrome-btn--blue">Open with App</a>
        <a href="https://web.whatsapp.com/send?phone=9036092727" target="_blank"
            class="chrome-btn chrome-btn--green">Open with Web</a>
        <button class="chrome-btn chrome-btn--grey" onclick="hideChromePopup()">Cancel</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="static/js/script.js"></script>
<script src="https://fyndbetter.com/chatbot/aarogya_chatbot"></script>

<a href="#" id="scrollToTopBtn" class="scroll-to-top-btn" title="Scroll to top" aria-label="Scroll to top">
    <i class="fa fa-arrow-up"></i>
</a>

<script>
    $(".book-apt").on('click', function () {
        var url = $(this).data("url");
        window.open(url, '_blank');
    });

    function showChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.add("is-visible");
        popup.setAttribute("aria-hidden", "false");
    }

    function hideChromePopup() {
        const popup = document.getElementById("chrome-popup");
        popup.classList.remove("is-visible");
        popup.setAttribute("aria-hidden", "true");
    }

    // ESC closes popup
    document.addEventListener("keydown", e => {
        if (e.key === "Escape") hideChromePopup();
    });

    document.addEventListener('DOMContentLoaded', function () {
        const scrollBtn = document.getElementById('scrollToTopBtn');
        const scrollThreshold = 300;

        function toggleScrollButton() {
            if (window.pageYOffset > scrollThreshold ||
                document.documentElement.scrollTop > scrollThreshold) {
                scrollBtn.style.display = 'flex';
            } else {
                scrollBtn.style.display = 'none';
            }
        }

        window.addEventListener('scroll', toggleScrollButton);

        scrollBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
            // Add slight animation to the icon
            this.querySelector('i').style.transform = 'translateY(-4px)';
            setTimeout(() => {
                this.querySelector('i').style.transform = '';
            }, 300);
        });

        // Initialize on load
        toggleScrollButton();
    });

    const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    const mobileNav = document.getElementById('mobile-nav');

    mobileMenuToggle.addEventListener('click', function () {
        mobileNav.classList.toggle('active');
    });





</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        AOS.init({
            once: false, // animations will re-run
            mirror: true // animate out when scrolling back
        });
    });
</script>



{% endblock %}